<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Antix.Serializing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Antix.Serializing.Properties.Settings>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeNulls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimeFormatString" serializeAs="String">
                <value>s</value>
            </setting>
            <setting name="TimeSpanFormatString" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="NumberFormatString" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="EnumFormatString" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="AnonymousTypeName" serializeAs="String">
                <value>Anon</value>
            </setting>
        </Antix.Serializing.Properties.Settings>
    </applicationSettings>
</configuration>